.navbar-brand {
    margin-left: 5%;
}

.nav {
    justify-content: right;
    margin-right: 5%;
}

.greater {
    margin-left: 5%;
    margin-top: 1%;
}
.text {
    margin-left: 2%;
    margin-top: 2%;
}

.login-form {
    margin: 5% 20% 10%;
    padding: 5% 10%;
    background-color: blanchedalmond;
    border-radius: 10px;
}